[data-component="Layout_Homepage"] {
    &.scrolling-disabled {
        width: 100vw;
        height: 100vw;
        overflow: hidden;
    }

    h1,
    h2,
    h3 {
        color: $accent-color;
    }

    .content {
        text-align: justify;
        line-height: 150%;
        float: left;
    }

    &.page-introduction {
        .content {
            background-color: #0067e6;
            color: white;

            @media (max-width: 799px) {
                padding: 6vw;
            }
            @media (min-width: 800px) {
                display: grid;
                align-items: start;
                padding: 4vw;

                @media (max-width: 1399px) {
                    grid-template-columns: 50% 50%;

                    [data-component="ProjectOverview"]:nth-of-type(2) {
                        display: none;
                    }
                }
                @media (min-width: 1400px) {
                    grid-template-columns: 33% 33% 33%;
                }
            }
        }
    }
}
