[data-component="Layout_ProjectDetail"] {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    float: left;

    h1 {
        color: #f9004b;
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 20px;
    }

    [data-component="Footer"] {
        margin-top: auto;
    }

    &.page-project-detail {
        @media (max-width: 999px) {
            padding-top: 4vh;
            padding-left: 5vw;
            padding-right: 5vw;
            padding-bottom: 2vh;
        }
        @media (min-width: 1000px) {
            padding-top: 4vh;
            padding-left: 16vw;
            padding-right: 16vw;
            padding-bottom: 8vh;
        }

        .name {
            white-space: nowrap;
            padding-top: 20px;
        }

        .description {
            text-align: justify;
            line-height: 150%;
            margin-bottom: 25px;
            float: left;
        }

        .gallery {
            width: 100%;
            display: flex;
            justify-content: space-between;
            float: left;

            .image {
                height: 0;
                background-size: cover;
                background-position: top center;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
                float: left;
            }

            @media (max-width: 599px) {
                flex-direction: column;

                .image {
                    flex-basis: 100%;
                    padding-top: 70%;
                    margin-bottom: 20px;

                    &.portrait {
                        padding-top: 170%;
                    }
                }
            }
            @media (min-width: 600px) {
                .image {
                    flex-basis: calc((100% / 3) - 20px);
                    padding-top: 35%;

                    &.portrait {
                        padding-top: 60%;
                    }
                }

                &[data-count="1"] {
                    .image {
                        flex-basis: 100%;
                        padding-top: 70%;

                        &.portrait {
                            padding-top: 70%;
                        }
                    }
                }

                &[data-count="2"] {
                    .image {
                        flex-basis: calc(50% - 10px);
                        padding-top: 50%;

                        &.portrait {
                            padding-top: 70%;
                        }
                    }
                }
            }
        }
    }
}
