@import 'css-reset-and-normalize-sass/scss/flavored-reset-and-normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=latin-ext');

html {
    @media (max-width: 499px) {
        font-size: 12px !important;
    }
    @media (min-width: 500px) AND (max-width: 999px) {
        font-size: 14px !important;
    }
    @media (min-width: 1000px) {
        font-size: 16px !important;
    }

    body {
        background-color: $primary-background-color;
        font-family: sans-serif !important;

        *:focus {
            outline: none;
        }
    }
}
