[data-component="Navigation"] {
    width: 100%;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 5;

    @media (max-width: 799px) {
        padding: 0 6vw;
    }
    @media (min-width: 800px) {
        padding: 0 4vw;
    }

    .items {
        display: flex;
        justify-content: flex-end;

        .item {
            background-color: transparent;
            color: #e601b3;
            font-size: 18px;
            text-transform: uppercase;
            border-radius: 15px;
            border: none;
            padding: 10px 15px;
            margin-left: 20px;
            transition: background-color 250ms;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }

    &.closed,
    &.opened {
        .hamburger-button {
            $height: 20px;

            width: 30px;
            height: $height;
            cursor: pointer;
            float: right;
            position: relative;
            z-index: 11;
            box-sizing: unset;

            .line {
                width: 100%;
                height: calc(#{$height} / 5);
                background-color: #e601b3;
                margin-bottom: calc(#{$height} / 5);
                transition: all 250ms;
            }
        }
    }

    &.closed {
        .overlay,
        .items {
            display: none;
        }
    }

    &.opened {
        .overlay {
            width: 100vw;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }

        .hamburger-button {
            .line {
                position: absolute;
                top: 40%;

                &.top {
                    transform: rotateZ(-45deg);
                }

                &.middle {
                    opacity: 0;
                }

                &.bottom {
                    transform: rotateZ(45deg);
                }
            }
        }

        .items {
            width: 60vw;
            min-width: 200px;
            height: 100vh;
            background-color: transparentize(#f2f2f2, 0.2);
            backdrop-filter: blur(20px);
            padding: 7vh 0 0 0;
            display: block;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;

            .item {
                width: 100%;
                text-align: right;
                border-radius: 0;
                padding: 12px 30px 12px 20px;
                margin: 0;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }

            .language-switcher {
                margin-right: 16px;
            }
        }
    }
}
