[data-component="LanguageSwitcher"] {
    background-color: transparent;
    color: gray;
    font-size: 0.75rem;
    font-weight: 100;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    transition: color 200ms;

    &:hover {
        color: black;
    }

    .icon {
        width: 20px;
        height: 12px;
        object-fit: cover;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        margin-left: 6px;
        position: relative;
        top: 2px;
    }
}
