@import 'css-reset-and-normalize-sass/scss/flavored-reset-and-normalize';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$background-color: #fff;

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
