[data-component="AppName"] {
    &.mobile-only {
        padding-top: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
        position: absolute;
        top: env(safe-area-inset-top);

        @media (min-width: 1000px) {
            display: none;
        }

        h1 {
            font-size: 1.25rem;
        }
    }

    &.desktop-only {
        text-align: center;
        padding-top: 6vw;
        padding-left: 16vw;
        padding-right: 16vw;

        @media (max-width: 999px) {
            display: none;
        }

        h1 {
            font-size: 2.5rem;
        }
    }

    [data-component="Button"] {
        font-weight: 100;
        background-color: transparent;
        text-decoration: underline;
        text-decoration-color: $accent-color;
        border: none;
        padding: 0;
    }
}
